$mainColor: #E1D9CF;
$mainColorTransparent: #e1d9cfd0;
$SecondColor:#C1A6A0;
$borderColor: #c1a6a069;

/* agregando maps para back ground de header y footer*/
$colores: (
    mainColorBG: #E1D9CF,
    SecondColorBG:#C1A6A0

);


@each $valor, $color in $colores{
    .bk--#{$valor}{
        background-color:$color;
    }
}

*{
    padding: 0;
    margin : 0;
    font-family: 'Josefin Sans', sans-serif;


}
/* aplicando flex a la pagina */

#plantilla{
    display: flex;
    flex-direction: column;
}
/* fin aplicando flex a la pagina */

/* configuracion de  header*/

header{
    height: 100%;
    width: auto;
    grid-area: menu;
    color: white;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    & li{
        display: inline;
        margin: 10px;

    }
    &__logo{
        width: 50%;
    }

    &__item{
        list-style: none;
    }

    &__item:hover{
        transform: scale(1.5);
    }
    &__logo:hover{
        transform: scale(1.2);
    }

    &__item a{
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-size: 200%;
        padding: 20px;
    }

}

/* fin de configuracion de header*/

/* configuracion pie de pagina */

.pie{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-end;
    padding: 10px;
    

    &__slogan{
        
        margin: 5%;
        max-width: 50%;
    }
    &__disc{
        align-content: center;
        
    }

    &__slogan h2{
        font-size: 150%;
    }
    
    &__redes{

        text-decoration: none;


    }
    &__redes p{
        color: black;
        
    }
    
}
.redes{
    height: 50px;
}
/* fin configuracion pie de pagina  */

/* seccion  principal del index */

.carousel__index{
    margin-top:5% ;
    margin-bottom:5% ;

}

/* fin seccion  principal del index */

/* propiedades pantalla de productos */

.product{
    display: flex;
    margin: 10px;

    flex-wrap: wrap;

    &__card{

        margin: 1%;
        border: solid;
        border-color:$borderColor;
        background-color: $mainColorTransparent;
    }

}


/* fin propiedades pantalla de productos */

/* propiedades formulario */

/* mixin para tamaños de mapa*/
@mixin tamaniosMapa ($margen,$ancho,$alto){
    margin: $margen;
    width: $ancho;
    height: $alto;
    
}

.contacto{
    
    display: flex;
    flex-direction: column;
    align-items: center;

    &__formulario{
        margin: 10px;
        width: 50%;
        border: solid;
        display: flex;
        flex-direction: column;
        border-color:$borderColor;
        background-color: $mainColorTransparent;
        
        &__boton__enviar{
            margin-top: 10px;
            width:75px;
        }
    }

    &__datosVarios{
        margin: 20px;
        border: solid;
        display: flex;
        flex-direction: column;
        border-color:$borderColor;
        background-color: $mainColorTransparent;
    }

    &__mapa{
        @include tamaniosMapa(10px,90%,50vh);
        border: solid;
        border-color:$borderColor;
        background-color:$mainColorTransparent;
        display:flex;
        align-items: center;
    
    }

}
