@charset "UTF-8";
/* agregando maps para back ground de header y footer*/
.bk--mainColorBG {
  background-color: #E1D9CF;
}

.bk--SecondColorBG {
  background-color: #C1A6A0;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

/* aplicando flex a la pagina */
#plantilla {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* fin aplicando flex a la pagina */
/* configuracion de  header*/
header {
  height: 100%;
  width: auto;
  grid-area: menu;
  color: white;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.menu li {
  display: inline;
  margin: 10px;
}

.menu__logo {
  width: 50%;
}

.menu__item {
  list-style: none;
}

.menu__item:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.menu__logo:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.menu__item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 200%;
  padding: 20px;
}

/* fin de configuracion de header*/
/* configuracion pie de pagina */
.pie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 10px;
}

.pie__slogan {
  margin: 5%;
  max-width: 50%;
}

.pie__disc {
  -ms-flex-line-pack: center;
      align-content: center;
}

.pie__slogan h2 {
  font-size: 150%;
}

.pie__redes {
  text-decoration: none;
}

.pie__redes p {
  color: black;
}

.redes {
  height: 50px;
}

/* fin configuracion pie de pagina  */
/* seccion  principal del index */
.carousel__index {
  margin-top: 5%;
  margin-bottom: 5%;
}

/* fin seccion  principal del index */
/* propiedades pantalla de productos */
.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product__card {
  margin: 1%;
  border: solid;
  border-color: #c1a6a069;
  background-color: #e1d9cfd0;
}

/* fin propiedades pantalla de productos */
/* propiedades formulario */
/* mixin para tamaños de mapa*/
.contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto__formulario {
  margin: 10px;
  width: 50%;
  border: solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-color: #c1a6a069;
  background-color: #e1d9cfd0;
}

.contacto__formulario__boton__enviar {
  margin-top: 10px;
  width: 75px;
}

.contacto__datosVarios {
  margin: 20px;
  border: solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-color: #c1a6a069;
  background-color: #e1d9cfd0;
}

.contacto__mapa {
  margin: 10px;
  width: 90%;
  height: 50vh;
  border: solid;
  border-color: #c1a6a069;
  background-color: #e1d9cfd0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */